body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  height: 100vh;
  display: flex;
}
/* header */
.header{
  width: 300px;
  background-color: #000;
}
.header_main{
  width: 250px;
  height: 600px;
  background-color: #fff;
  margin: 16px;
  position: fixed;
}
/* 증명사진 */
.id_photo{
  width: 100px;
  height: 120px;
  background-color: lightcoral;
  margin: 0px auto; 
  border-radius: 5px;
  /* 증명사진 내리고 싶은데 어케 내릴지 생각! */
}
/* a tag */
.a_tag{
  height: 50px;
  background-color: lightpink;
  display: flex;
  justify-content: space-around;
}
a{
  color: #000;
  text-decoration: none;
}
.a_url{
  width: 80px;
  height: 45px;
  background-color: lightblue;
  border-radius: 100%;
  margin: 2px;
}
/* 헤더 메뉴 */
.header_menu{
  height: 340px;
  background-color: lightgray;
}
.h_menu{
  height: 56px;
  font-size: 20px;
  padding: 5px 0 0 5px;
  display: flex;
}
/* main */
.main{
  width: 85%;
}
/* main 이미지 */
.main_top{
  height: 20%;
  background-color: cadetblue;
}
/* main 글 */
.main_bottom{
  height: 80%;
  background-color: darkgreen;
}